<div *ngIf="!isInGameLobby()">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills">
    <a [ngbNavItem]="1" class="navbar-brand" routerLink="/"><img width="134" height="32" alt="" src="assets/img/mafia-logo-small.png"></a>
    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="">Home</a>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink routerLink="public-games">Join</a>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink routerLink="create-game">Host</a>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink routerLink="create-game">Host</a>
    </li>
  </ul>
</div>
