.last-will{
  background-image: url("../../../../../../../../assets/img/last_will_backdrop_en.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;

}
