.label{
  line-height: 2.0rem;
  height: 12px;
}

.label-left{
  border-radius: 2px 0 0 2px;
}

.label-middle{
  margin-left: 0;
}

.label-right{
  border-radius: 0 2px 2px 0;
}

.discriminator{
  opacity: 0.8;
  font-size: 0.72rem;
}

.bg-name-badge {
  background-color: var(--color-soft-gray) !important;
}

.badge-border-admin{
  background-color:var(--color-soft-red) !important;
}

.badge-border-mod{
  background-color: var(--color-soft-yellow) !important;
}

.host {
  background-color: var(--color-soft-blue) !important;
}

.alive{
  background-color: var(--color-soft-green) !important;
}

.dead {
  background-color: var(--color-status-dead) !important;
}

.offline {
  opacity: 0.40;
}

.connection-icon{
  line-height: 1.7rem;
  padding: 0;
  margin: 0;
  width: fit-content;
  font-size: 1.3rem;
}
