<span class="badge badge-light text-sm-left text-dark mr-1 my-1 p-1">
    <span class="mb-1 text-sm-left d-block" style="font-size: 1.2em;">{{player.name}}<span style='opacity: 0.5'>{{player.discriminator}}</span><br></span>
    <span class="text-sm-left"><span class="text-sm-left" style='opacity: 0.6'>Status: </span>{{player.isAlive ? 'Alive' : 'Dead'}}</span><br>
    <span class="text-sm-left"><span class="text-sm-left" style='opacity: 0.6'>Role: </span>{{player.role ? player.role.name : '????'}}</span><br>
    <span class="text-sm-left"><span class="text-sm-left" style='opacity: 0.6'>Type: </span>{{player.role ? player.role.type : '????'}}</span><br>
    <span class="text-sm-left"><span class="text-sm-left" style='opacity: 0.6'>Faction: </span>{{player.faction ? player.faction.name : '????'}}</span><br>
  </span>
