<div class="fixed-bottom justify-content-center d-block menu-backdrop" [(style.height.px)]="backDropHeight"></div>
<ul ngbNav #lobbymenu #nav="ngbNav" [(activeId)]="active" class="nav nav-pills menu-bar fixed-bottom justify-content-center">
  <li [ngbNavItem]="1">
    <a ngbNavLink routerLink="overview"><bi name="house-fill" class="menu-icon text-light text-md-center"></bi></a>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink routerLink="my-role"><bi name="person-circle" class="menu-icon text-light text-md-center"></bi></a>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink routerLink="player-actions"><bi name="lightning-fill" class="menu-icon text-light text-md-center"></bi></a>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink routerLink="host-actions"><bi name="gear-fill" class="menu-icon text-light text-md-center"></bi></a>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink routerLink="game-info"><bi name="info-circle-fill" class="menu-icon text-light text-md-center"></bi></a>
  </li>
  <li [ngbNavItem]="6">
    <a ngbNavLink routerLink="exit-game"><bi name="x-circle-fill" class="menu-icon text-light text-md-center"></bi></a>
  </li>
</ul>
