.miniBar {
  height: 1rem;
  line-height: 1rem;
  position: relative;
  width: calc(100%);
  margin-right: 0.1rem;
}

.miniSegment {
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.65;
}

.miniSegment:hover {
  opacity: 1;
}
