<div class="selected-roles-container">
  <ng-container *ngIf="selectedRoles && selectedRoles.length > 0; else empty">
    <div class="alert-dark">
      <div class="d-block w-25 float-left">
        <span class="d-block ml-1 mt-1 mr-0"><app-divider-bar [height]="17" [barData]="barData"></app-divider-bar></span>
      </div>
      <div class="clearfix">
        <span class="badge badge-light player-counter ml-1">{{amountOfRoles}}</span>
        <ng-container *ngFor="let verdict of getGameBalanceVerdict()">
        <span class="badge badge-secondary player-counter ml-1">{{verdict}}</span>
        </ng-container>
      </div>
    </div>
    <ng-container *ngFor="let role of selectedRoles">
      <div class="d-inline-block">
        <span class="badge ml-1 badge-dark role-remove" (click)="callParentRemove(role?.rid)">
          <bi class="control-icon" name="dash-square-fill"></bi>
        </span>
        <span class="badge badge-dark role-add" (click)="callParentAdd(role?.rid)">
          <bi class="control-icon" name="plus-square-fill"></bi>
        </span>
        <span class="badge my-1 py-2 badge-dark role-name" style="background-color: {{role?.faction.color}}">
          {{role?.count}}&times; {{role?.name}}
        </span>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #empty>
    <span class="p-2 text-info"><i>Select between 3 and 32 roles from at least 2 different factions from the list below</i></span>
  </ng-template>
</div>
