<div class="row game-div">
  <div class="col-md-3">
    <div><h5>{{game.name}}</h5></div>
    <p>By: <a href="#" class="badge badge-light">{{game.creator?.name}}</a></p>
    <p *ngIf="game.host">Host: <a href="#" class="badge badge-light">{{game.host.name}}</a></p>
  </div>
  <div class="col-md-2">
    <h5><span class="badge badge-light">{{(game.availableSlots+game.usedSlots)}} seats</span></h5>
    <p><span class="badge badge-light">{{game.availableSlots}} free</span></p>
  </div>
  <div class="col-md-4">
    <div><app-divider-bar [barData]="barData"></app-divider-bar></div>
    <a href="#" class="badge badge-dark badge-custom" style="background:{{faction.color}}80;" *ngFor="let faction of game.factions">{{faction.name}}</a>
  </div>
  <div class="col-md-3">
    <span class="col-3  d-md-none"></span>
    <ng-container *ngIf="(!(playerContext.getCurrentPlayer() | async)?.inGame?.gid); else stillInGame">
      <button (click)="joinGame(game)" type="button" class="btn btn-block btn-primary">
        <span *ngIf="!isLoading else loading">
          <b>Join game</b>
        </span>
        <ng-template #loading>
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only text-light">Loading...</span>
          </div>
        </ng-template>
      </button>
    </ng-container>
    <ng-template #stillInGame>
      <button disabled type="button" class="btn btn-block btn-primary">In another game</button>
    </ng-template>
  </div>
</div>
