<div *ngIf="!games; else gamesList" class="text-center">
  <div class="header-image"><br><br></div>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only text-center">Loading...</span>
  </div>
</div>
<ng-template #gamesList>
  <div class="container">
    <div class="row game-header">
      <div class="col-md-3 d-none d-md-block">
        Game
      </div>
      <div class="col-md-1 d-none d-md-block">
        Seats
      </div>
      <div class="col-md-4 d-none d-md-block">
        Factions
      </div>
      <div class="col-md-2 d-none d-md-block">
        Created by
      </div>
      <div class="col-md-2 d-none d-md-block">
        Join
      </div>
    </div>
    <p *ngFor="let game of games">
      <app-public-game [game]="game"></app-public-game>
    </p>
  </div>
</ng-template>
