<div class="row mt-3">
  <div class="col-lg-7 col-md-6">
    <div class="card bg-dark text-primary mb-3">
      <app-main-controls></app-main-controls>
    </div>
    <div class="card bg-dark text-primary mb-3">
      <app-chat-container></app-chat-container>
    </div>
    <div class="card bg-dark text-primary mb-3">
      <app-faction-chat-container></app-faction-chat-container>
    </div>
  </div>
  <div class="col-lg-5 col-md-6">
    <div class="card bg-dark text-primary mb-3">
      <app-game-stats-container></app-game-stats-container>
    </div>
    <div class="card bg-dark text-primary">
      <app-player-container></app-player-container>
    </div>
  </div>
</div>
