.header-image {
  background-image: url("../../../../assets/img/mafia-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 120px;
}
.header-image-wide{
  background-image: url("../../../../assets/img/mafia-online-game-logo-wide.png");
}

.jumbotron {
  background-color: transparent;
  margin-bottom: 0px;
}
