<div class="container">
  <div class="row">
    <div class="col-md-12 d-none d-lg-block">
      <div class="jumbotron jumbotron-fluid">
        <div class="header-image header-image-wide">
        </div>
      </div>
    </div>
    <div class="col-md-12 d-lg-none">
      <div class="jumbotron jumbotron-fluid">
        <div class="header-image">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-lg-3">
      <div class="btn-group-xl btn-group-vertical btn-block">
        <button type="button" routerLink="public-games" class="btn btn-xl btn-primary text-left btn-block">Join a game</button>
        <button type="button" routerLink="create-game" class="btn btn-xl btn-secondary text-left btn-block">Host a game</button>
        <button type="button" routerLink="info-page" class="btn btn-xl btn-secondary text-left btn-block">Learn more</button>
      </div>
    </div>
    <div class="col-md-7 col-lg-9">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
  </div>
</div>
