:root{
  --color-soft-gray: #dbdbdb;
  --color-soft-red: #fc8e8e;
  --color-soft-blue: #64a5c8;
  --color-soft-green: #5ac882;
  --color-soft-yellow: #fdd580;
  --color-soft-purple: #bd94ff;
  --color-status-dead: #c84141;
  --color-dark-red: #a01414;
  --color-dark-green: #327850;
  --color-dark-purple: #5a3296;
  --color-dark-brown: #6e321e;
  --color-darker-red: #640c0c;
  --color-darker-green: #1e5032;
  --color-darker-purple: #3c2364;
  --color-darker-brown: #462819;
}
