/* You can add global styles to this file, and also import other style files */

$primary: #cc0052;
$light: #ffe6f0;
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '_vars.scss';

html, body {
  background-color: #181818;
  overflow-anchor: none;
}
